<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mcmahon.speedfreq"
    android:versionCode="1"
    android:versionName="Beta: Nov 16, 2014" xmlns:tools="http://schemas.android.com/tools">

    <supports-screens android:smallScreens="true" />
    <supports-screens android:normalScreens="true" />
    <supports-screens android:largeScreens="true" />
    <supports-screens android:anyDensity="true" />
    <supports-screens
        android:anyDensity="true"
        android:resizeable="true" />

	<!-- Android 2.2 to 4.4.4 -->
    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="20" />
    
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_MOCK_LOCATION" />
    <uses-permission android:name="android.permission.BLUETOOTH" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/speedfreq"
        android:label="@string/app_name" 
         >
        <activity
            android:name="com.artsoft.wifilapper.SpeedFreq"
            android:configChanges="keyboard|keyboardHidden"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:theme="@android:style/Theme" 
            android:screenOrientation="sensor" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.artsoft.wifilapper.ConfigureGPSActivity"
            android:label="@string/app_name"
            android:screenOrientation="sensor"
            android:theme="@android:style/Theme.NoTitleBar" />
        <activity
            android:name="com.artsoft.wifilapper.ConfigurePointToPoint"
            android:label="@string/app_name"
            android:screenOrientation="sensor"
            android:theme="@android:style/Theme.NoTitleBar" />
        <activity
            android:name="com.artsoft.wifilapper.ConfigureIOIOFilter"
            android:label="@string/app_name"
            android:screenOrientation="sensor"
            android:theme="@android:style/Theme.NoTitleBar" />
        <activity
            android:name="com.artsoft.wifilapper.ConfigureOBD2Activity"
            android:label="@string/app_name"
            android:screenOrientation="sensor"
            android:theme="@android:style/Theme.NoTitleBar" />
        <activity
            android:name="com.artsoft.wifilapper.ConfigureIOIOActivity"
            android:label="@string/app_name"
            android:screenOrientation="sensor"
            android:theme="@android:style/Theme.NoTitleBar" />
        <activity
            android:name="com.artsoft.wifilapper.ConfigureAccelerometerActivity"
            android:label="@string/app_name"
            android:screenOrientation="sensor"
            android:theme="@android:style/Theme.NoTitleBar" />
        <activity
            android:name="com.artsoft.wifilapper.ComputerChooserActivity"
            android:configChanges="keyboard|keyboardHidden"
            android:label="@string/app_name"
            android:screenOrientation="sensor"
            android:theme="@android:style/Theme.NoTitleBar" />
        <activity
            android:name="com.artsoft.wifilapper.LandingNewRace"
            android:label="@string/app_name"
            android:screenOrientation="sensor"
            android:theme="@android:style/Theme.NoTitleBar" />
        <activity
            android:name="com.artsoft.wifilapper.LandingLoadRace"
            android:label="@string/app_name"
            android:screenOrientation="sensor"
            android:theme="@android:style/Theme.NoTitleBar" />
        <activity
            android:name="com.artsoft.wifilapper.LandingTracks"
            android:label="Track List"
            android:screenOrientation="sensor"
            android:theme="@android:style/Theme.NoTitleBar" />
        <activity
            android:name="com.artsoft.wifilapper.LandingDBManage"
            android:label="@string/app_name"
            android:configChanges="keyboard|keyboardHidden"
            android:screenOrientation="sensor"
            android:theme="@android:style/Theme.NoTitleBar" />
        <activity
            android:name="com.artsoft.wifilapper.LandingOptions"
            android:label="@string/app_name"
            android:screenOrientation="sensor"
            android:theme="@android:style/Theme.NoTitleBar" />

        <activity
            android:name="com.artsoft.wifilapper.SummaryActivity"
            android:label="@string/app_name"
            android:screenOrientation="sensor"
            android:theme="@android:style/Theme.NoTitleBar" />
        <activity
            android:name="com.artsoft.wifilapper.ApiDemos"
            android:configChanges="keyboard|keyboardHidden"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:screenOrientation="sensor"
            android:theme="@android:style/Theme.NoTitleBar" >
            <meta-data
                android:name="appmode"
                android:value="FullVersion" />
        </activity>
</application>

</manifest>